 html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

body {
    background-color: azure;
}

canvas {
    height: 700px;
    width: 800px;
    touch-action: none;
    border: 2px solid black;
    background-color: teal;
    margin-bottom: 10px;
}

#canvasContainer {
    width: 800px;
    margin: 0 auto;
}

header {
    margin-right: auto;
    margin-left: auto;
}

header > h3 {
    font-family: 'montserrat';
    font-weight: bold;
    color: black;
    text-align: center;
}

nav {
    position: absolute;
    float: left;
    margin-left: 70px;
}

form > input {
    margin-top: 10px;
    font-family: 'montserrat';
    background-color: transparent;
    bottom-border: 2px solid black;
    width: 200px;
    height: 65px;
    font-size: 24px;
}

footer{
    font-family: 'montserrat';
    font-size: 18px;
    clear: both;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    margin-top: 10px;
}
